.bill-box  {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: start;
    height: 50px;
   
    align-items: center;
    border-top: 1px solid $zeta;
}

.bill-box-quantities, .bill-box-price{
    text-align: center;
}
img {
    margin:auto;
    width: 55%;
    height: 28%;
}
.bill-box:hover {
    background-color: #FF840B;
    color: white;
}
.bill-box:nth-child(even) {
    background-color: #ddd;
}
