.order-box  {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    height: 50px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $zeta;
}

.bill-box-quantities, .bill-box-price{
    text-align: center;
}

img  {
    margin:auto;
    width: 55%;
    height: 28%;
    
}
.order-box:hover {
    background-color: #FF840B;
    color: white;
}
.order-box:nth-child(even) {
    background-color: #ddd;
}


