@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*{
  margin:0px;  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;  
  font-size: 16px;
}



/*Views*/
@import 'views/home.scss';
@import 'views/waiter.scss';
@import 'views/chef.scss';

/*Components*/
@import 'components/notFound.scss';
@import 'components/Order.scss';