
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Londrina+Solid:wght@300&display=swap');


*{
  margin:0px; 
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Londrina Solid', cursive;
  margin: 0;  
  font-size: 20px;
}

/*Views*/
@import 'views/home.scss';
@import 'views/waiter.scss';

/*Components*/
@import 'components/notFound.scss';
@import 'components/Order.scss';
@import 'components/item.scss'
